@font-face {
  font-family: "memphis";
  src: url("../fonts/Helvetica_Now_Display/Monotype-Helvetica_Now_Display_Light.otf");
  font-style: normal;
}

@font-face {
  font-family: "memphis";
  src: url("../fonts/Helvetica_Now_Display/Monotype-Helvetica_Now_Display_Medium.otf");
  font-weight: bold;
}

:is( .vp-external-link-icon, .vp-doc a[href*='://'], .vp-doc a[target='_blank'] )::after {
  --icon: url(/assets/external-link.svg);
  background-clip: content-box !important;
  width: 14px !important;
  height: 14px !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 7px;
  right: 0px;
}

:root {
  --vp-c-brand: #6557ff ;
  --vp-c-brand-rgb: 101, 87, 255;
  --vp-c-brand-light: #6557FF ;
  --vp-c-brand-dark: #61DFC6  ;
  --vp-c-alt: #FFC633;
  --vp-c-alt-light: #FFC633;
  --vp-c-muted: #FFC633;
  --vp-c-subtitle: rgba(162,169,185,1.00);
  --m-light-highlight: #f2f2f3;

  --vp-custom-block-tip-border: var(--vp-c-brand-dark);
  --vp-custom-block-tip-text: var(--vp-c-brand-dark);
  --vp-custom-block-tip-bg: var(--vp-c-bg-soft-up);
  --vp-custom-block-tip-code-bg: var(--vp-c-bg-soft);

  --vp-font-family-base: "memphis"; /* normal text font */
}

p{
  color: var(--vp-c-text-2);
}

li{
  color: var(--vp-c-text-2);
}

.outline-link.active{
  color: var(--vp-c-brand) !important;
}

h2{
  margin-top: 12px !important;
  padding-top: 12px !important;
  width: 100%;
}

#app > div > header > div.has-sidebar > div > div.content > div.content-body > div.VPNavBarSearch.search {
  visibility: hidden;
}

#local-search{
  width: 100%;
}

@media (min-width: 768px) {
  #app > div > header > div > div > div.content > div.content-body > div.VPNavBarSearch.search #local-search{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
}

@media (min-width: 1281px) {
  #app > div > header > div > div > div.content > div.content-body > div.VPNavBarSearch.search > #local-search{
    margin-left: 37%;
    margin-right: auto;
    width: 385px;
  }
}

:root.dark th{
  background-color: #434347 !important;
}

th {
  background-color: var(--m-light-highlight) !important;
}

table{
  border-radius: 8px;
}

.VPNavBarSearch {
  padding-left: 6px;
}

.VPNavBarMenuLink{
  height: 30px !important;
  border-radius: 8px;
  margin: 0px 3px 0px 3px !important;
}

:root.dark .VPNavBarMenuLink:hover:not(.active){
  background-color: rgba(52, 52, 54, 1) !important;
  color: var(--vp-c-text-1) !important;
}

.VPNavBarMenuLink:hover:not(.active){
  background-color: var(--m-light-highlight) !important;
  color: var(--vp-c-text-1) !important;
}

.VPNavBarMenuLink.active{
  background-color: rgba(101, 87, 255, 0.15) !important;
}

:root.dark .DocSearch-Button {
  background-color: #121213 !important;
}

.DocSearch-Button {
  background-color: var(--m-light-highlight) !important;
}

.VPNavBarMenuLink.active:hover{
  background-color: rgba(101, 87, 255, 0.15) !important;
  color: var(--vp-c-brand) !important;
}

.VPSidebarItem > div > h2 {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

:root.dark .VPSidebarItem.level-0.is-link > .item:hover,
:root.dark .VPSidebarItem.level-1.is-link > .item:hover,
:root.dark .VPSidebarItem.level-2.is-link > .item:hover,
:root.dark .VPSidebarItem.level-3.is-link > .item:hover,
:root.dark .VPSidebarItem.level-4.is-link > .item:hover,
:root.dark .VPSidebarItem.level-5.is-link > .item:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: var(--vp-c-text-1) !important;
  border-radius: 6px;
}

.VPSidebarItem.level-0.is-link > .item:hover,
.VPSidebarItem.level-1.is-link > .item:hover,
.VPSidebarItem.level-2.is-link > .item:hover,
.VPSidebarItem.level-3.is-link > .item:hover,
.VPSidebarItem.level-4.is-link > .item:hover,
.VPSidebarItem.level-5.is-link > .item:hover {
  background-color: #ececee !important;
  color: var(--vp-c-text-1) !important;
  border-radius: 6px;
}

.VPSidebarItem.level-0.is-link:not(.is-active) > .item > .link .text,
.VPSidebarItem.level-1.is-link:not(.is-active) > .item > .link .text,
.VPSidebarItem.level-2.is-link:not(.is-active) > .item > .link .text,
.VPSidebarItem.level-3.is-link:not(.is-active) > .item > .link .text,
.VPSidebarItem.level-4.is-link:not(.is-active) > .item > .link .text,
.VPSidebarItem.level-5.is-link:not(.is-active) > .item > .link .text {
  color: var(--vp-c-text-2) !important;
}

.VPSidebarItem.level-0.is-link.is-active > .item ,
.VPSidebarItem.level-1.is-link.is-active > .item {
  background-color: rgba(101, 87, 255, 0.15) !important;
  color: var(--vp-c-brand) !important;
  border-radius: 6px;
}

.VPSidebarItem > .item > .link .text {
  margin-left: 6px !important;
}

.VPSidebarItem.level-0.is-link.is-active > .item:hover ,
.VPSidebarItem.level-1.is-link.is-active > .item:hover {
  background-color: rgba(101, 87, 255, 0.15) !important;
  color: var(--vp-c-brand) !important;
  border-radius: 6px;
}

.VPSidebarItem.level-1.is-link.has-active:has(> .items > .VPSidebarItem.level-2.is-link.is-active.has-active) > .item,
.VPSidebarItem.level-2.is-link.has-active:has(> .items > .VPSidebarItem.level-3.is-link.is-active.has-active) > .item,
.VPSidebarItem.level-3.is-link.has-active:has(> .items > .VPSidebarItem.level-4.is-link.is-active.has-active) > .item,
.VPSidebarItem.level-4.is-link.has-active:has(> .items > .VPSidebarItem.level-5.is-link.is-active.has-active) > .item {
  background-color: rgba(101, 87, 255, 0.15) !important;
  border-radius: 6px;
}

.VPSidebarItem.level-1.is-link.has-active:has(> .items > .VPSidebarItem.level-2.is-link.is-active.has-active) > .item .text,
.VPSidebarItem.level-2.is-link.has-active:has(> .items > .VPSidebarItem.level-3.is-link.is-active.has-active) > .item .text,
.VPSidebarItem.level-3.is-link.has-active:has(> .items > .VPSidebarItem.level-4.is-link.is-active.has-active) > .item .text,
.VPSidebarItem.level-4.is-link.has-active:has(> .items > .VPSidebarItem.level-5.is-link.is-active.has-active) > .item .text{
  color: var(--vp-c-brand) !important;
}

.VPSidebarItem.level-1.is-link.has-active:has(> .items > .VPSidebarItem.level-2.is-link.is-active.has-active) > .item .caret,
.VPSidebarItem.level-2.is-link.has-active:has(> .items > .VPSidebarItem.level-3.is-link.is-active.has-active) > .item .caret,
.VPSidebarItem.level-3.is-link.has-active:has(> .items > .VPSidebarItem.level-4.is-link.is-active.has-active) > .item .caret,
.VPSidebarItem.level-4.is-link.has-active:has(> .items > .VPSidebarItem.level-5.is-link.is-active.has-active) > .item .caret{
  color: var(--vp-c-brand) !important;
}

.VPSidebarItem.level-0.is-link.is-active > .item > .link:hover,
.VPSidebarItem.level-1.is-link.is-active > .item > .link:hover,
.VPSidebarItem.level-2.is-link.is-active > .item > .link:hover,
.VPSidebarItem.level-3.is-link.is-active > .item > .link:hover,
.VPSidebarItem.level-4.is-link.is-active > .item > .link:hover,
.VPSidebarItem.level-5.is-link.is-active > .item > .link:hover{
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: var(--vp-c-brand) !important;
  border-radius: 6px;
}

.mcode{
  background-color: rgba(253, 236, 194, 0.1) !important; 
  color: rgb(253, 236, 194) !important;
}

:root.dark .mcode{
  background-color: rgba(253, 236, 194, 0.1) !important; 
  color: rgb(253, 236, 194) !important;
}

.edit-link-button{
  color: var(--vp-c-text-2) !important;
}

.edit-link-button:hover{
  color: var(--vp-c-brand) !important;
}

.storylane{
 width: 100%;
 height: 390px;
}

figcaption{
  text-align: center;
  color: var(--vp-c-subtitle);
}

figcaption > p {
  margin-top: 0px !important;
}

.custom-block > p > a{
  color: var(--vp-c-brand) !important;
}

.curtain::before{
  all: initial !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #949494 var(--vp-c-bg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: (--vp-c-bg);
}

*::-webkit-scrollbar-thumb {
  border-radius: 46px;
  opacity: 0.20000000298023224;
  background: #7C7C7D;
  width: 5px;
  height: 20px;
  flex-shrink: 0;
}




