@font-face {
  font-family: "memphis";
  src: url("../fonts/Helvetica_Now_Display/Monotype-Helvetica_Now_Display_Medium.otf");
}

:root {
  --vp-c-brand: #6557FF ;
  --vp-c-brand-light: #6557FF ;
  --vp-c-brand-dark: #61DFC6  ;
  --vp-c-alt: #FFC633;
  --vp-c-alt-light: #FFC633;
  --vp-c-muted: #FFC633;

  --vp-custom-block-tip-border: var(--vp-c-brand-dark);
  --vp-custom-block-tip-text: var(--vp-c-brand-dark);
  --vp-custom-block-tip-bg: var(--vp-c-bg-soft-up);
  --vp-custom-block-tip-code-bg: var(--vp-c-bg-soft);

  --vp-font-family-base: "memphis"; /* normal text font */
}

div[class="item"] > h2{
    color: var(--vp-c-brand) !important;
}

.is-active > div > a > .text{
  color: var(--vp-c-alt) !important;
}

.level-1 :hover{
 color: var(--vp-c-brand-dark) !important;
}

iframe{
  width: 100%;
  height: 390px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #949494 var(--vp-c-bg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: (--vp-c-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: #949494;
  height: 20px;
}